html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 17px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a26;
  color: var(--text-primary);
}

main {
  margin-left: 5rem;
  padding: 1rem;
  line-height: 3rem;
  letter-spacing: 2px;
  word-spacing: 4px;
}

h1 {
  margin: 1rem 0;
  color: var(--text-theme);
}

.navbar {
  font-family: Consolas;
  position: fixed;
  height: 100vh;
  width: 5rem;
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) ease-out, display 900ms;
}

.navbar:hover {
  width: 13rem;
}

.navbar:hover .link-text {
  display: block;
}

.nav-item:hover svg {
  transform: translateX(15%) scale(1.15);
  transition: var(--transition-speed);
}

.nav-item:hover #aliens {
  transform: rotate(0deg) scale(1.15);
  animation: squiggle 1000ms;
}

.navbar:hover .logo svg {
  transform: rotate(-270deg);
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}

.logo .link-text {
  color: var(--text-theme);
}

.logo:hover .link-text {
  color: var(--text-primary);
}

.navbar .logo svg {
  transform: rotate(0deg);
  transition: transform 1000ms;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  filter: opacity(0.7);
  transition: filter var(--transition-speed);
}

.nav-link:hover {
  filter: none;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}

.nav-link:hover svg {
  fill: var(--text-theme);
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
  fill: var(--text-primary);
  transition: color var(--transition-speed);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

/* @--- */
@keyframes squiggle {
  0% {
    transform: skew(2deg) scaleY(1.154);
  }
  45% {
    transform: skew(-1deg) scaleX(1.164);
  }
  60% {
    transform: skew(0deg) scaleY(1.134);
  }
  80% {
    transform: skew(-2deg) scaleY(1.16);
  }
  100% {
    transform: skew(0deg) scale(1.15);
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background: var(--text-theme);
}

::-webkit-scrollbar-track {
  background-color: #1e1e24;
}

::selection {
  background-color: var(--bg-primary);
  color: var(--text-theme);
}

/* variables */
:root {
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --text-primary: #b4b4b4;
  --text-secondary: #ededef;
  --transition-speed: 400ms;
  --text-theme: #be1e59;
}
